.container {
  padding: 20px 30px;
  margin: 10px;
  background-color: var(--clr-primary-7);
  color: var(--clr-primary-1);
  font-size: 20px;
  transition: 1s;
  border: none;
  letter-spacing: 4px;
  &:hover {
    background-color: var(--clr-primary-5);
    color: var(--clr-primary-10);
    letter-spacing: 6px;
  }
}
